/* ESTILO GERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    background: radial-gradient(circle, #000000, #002244, #004488);
    height: 100px;
}

.flex{
    display: flex;
}

/* ESTILO CABEÇALHO */
nav {
    background: rgba(0, 34, 68, 0.8);
    padding: 15px 4%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    transition: 0.3s;
    z-index: 1000;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 15px;
    transition: 0.3s;
}

nav ul li a:hover {
    color: #00aaff;
    transform: scale(1.1);
}

nav.scrolled {
    background: rgba(0, 34, 68, 0.95);
    padding: 10px 4%;
}

@media (max-width: 768px) {
    nav {
        flex-direction: column;
        text-align: center;
    }

    nav ul {
        flex-direction: column;
        gap: 15px;
    }
}


/*  ESTILO TOPO SITE */
section.topo-do-site{
    padding: 40px 4%;
    margin-top: 80px;
}

section.topo_do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site h1{
    color: #ffff;
    font-size: 42px;
    line-height: 40px;
}

.topo-do-site .txt-topo-site p{
    color: #ffff;
    margin: 40px 0;
}

.topo-do-site .img-topo-site img {
    width: 600px; 
    height: 600px;
    border-radius: 50%; 
    float: right;
    margin-top: -280px; /* Ajuste o valor conforme necessário */
}



/* ESTILO PROJETOS */
section.projetos {
    padding: 40px 4%;
    text-align: center;
}

.projetos h2 {
    color: #fff;
    font-size: 38px;
    margin-bottom: 30px;
}

.projetos p {
    color: #fff;
    font-size: 20px;
    margin-bottom: 20px;
}

.projetos a {
    color: #fff; 
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}


section.projetos .flex {
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.projetos .project-card {
    background-color: #1f1f1f;
    padding: 20px;
    border-radius: 10px;
    width: 250px;
    text-align: center;
    transition: 0.3s ease;
    margin-top: 30px;
}

.projetos .project-card:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 15px #fff; 
}

.projetos .project-card h3 {
    color: #fff;
    font-size: 22px;
    margin-bottom: 10px;
}

.projetos .project-card p {
    color: #ddd;
    font-size: 16px;
    margin-bottom: 20px;
}

.projetos .project-card a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    display: block;
}

.projetos .project-card a:hover {
    text-decoration: underline;
    color: #ffffff;
}

.txt-topo-site{
    color: #fff;
}


